:root {
    // colors
    --white:         #FFFFFF;
    --grayLight:     #F4F4F4;
    --grayLightText: #979797;
    --grayDark:      #2D2D2D;
    --red:           #F42828;

    // Navigation Colors
    --nav:  var(--grayDark);
    --navLight: #424242;
    --navLine: #F05540;
    --navLineLight: #C8C8C8;

  
  }
