.listing {
    margin-bottom: 3.5rem;
    position: relative;

    &__image {
        display: inline-block;
        position: relative;

        .listing__fav {
            position: absolute;
            top: 1.8rem;
            right: 1.3rem;

            &:hover {
                cursor: pointer;
            }
        }

        img {
            border-radius: .4rem;
            height: 28rem;
            object-fit: cover;
            width: 31.5rem;
        }
    }


    &__rooms {
        display: flex;
        font-weight: 600;
        font-size: 2rem;
        line-height: 3.2rem;
        margin-top: .5rem;

        span {
            align-items: center;
            display: flex;

            &::after {
            content: '';
            display: inline-block;
            border-right: 2px solid var(--grayDark);
            height: 2rem;
            margin-right: 1rem;
            padding-right: 1rem;
            }

            &:last-child::after {
                display: none;
            }
        }
    }

    &__price {
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 2.4rem;
        margin-top: 1rem;
    }

    &__address {
        margin-top: 1rem;
    }

    &__date {
        color: var(--grayLightText);
        font-size: 1.4rem;
    }
}